<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
</head>
<style>
    h1{
        text-align: center;
        color: blue;
    }
    table{
        border: 1px;
        margin: auto;
        border-color: black;
        width: 50%
       
        
    }
    .finfo{
        text-align: right;
    }
    .info{
        font-size: 20px;
        font: bold;
    }
</style>
<body>
<div>
    <h1>ENSETPos &copy;</h1>
    <div class="info">Date : <span id="date"></span></h4>
    <div class="info"> ID de Vente : <span id="idVente"></span></h4>
    <div class="info">Client : <span id="client"></span></h4>
    <div class="info">Caissier : <span id="caissier"></span></h4>
    <table id="table">
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix</th>
        </tr>
    </table>
    <div class="finfo">Nombre de Produit : <span id="nbr_produit"></span></div>
    <div class="finfo">Total : <span id="total"></span></div>
</div>
</body>
</html>